<div class="component"></div>
<div class="container">
    <div class="table-section">
        <div class="table-title">
            Events
        </div>
        <table>
            <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Category</th>
                  <th>Image</th>
                </tr>
              </thead>
            <tbody>
                <tr *ngFor="let ev of events">
                    <td>{{ev.name}}</td>
                    <td>{{ev.description}}</td>
                    <td>{{ev.category}}</td>
                    <td>
                        <img *ngIf="ev.image?.data" [src]="'data:' + ev.image?.mimeType + ';base64,' + ev.image?.data" alt="Checkpoint Image" style="max-width: 150px; max-height: 150px;">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-section">
        <xp-event-form (eventAdded)="getEvents()" ></xp-event-form>
    </div>   
</div>
