<form [formGroup]="tourForm">
    <table>
      <tr>
        <td><label for="name">Name:</label></td>
        <td>
          <input type="text" id="name" name="name" placeholder="Name" formControlName="name" required>
        </td>
      </tr>
      <tr>
        <td><label for="description">Description:</label></td>
        <td>
          <input type="text" id="description" name="description" placeholder="Description" formControlName="description" required>
        </td>
      </tr>
      <tr>
        <td><label for="difficulty">Difficulty:</label></td>
        <td>
          <select id="difficulty" name="difficulty" formControlName="difficulty" required>
            <option value="0">Easy</option>
            <option value="1">Moderate</option>
            <option value="2">Hard</option>
          </select>
        </td>
      </tr>
      <tr>
        <td><label for="tag">Tag:</label></td>
        <td>
          <select id="tag" name="tag" formControlName="tag" required>
            <option value="0">Adventure</option>
            <option value="1">Relaxation</option>
            <option value="2">Historical</option>
            <option value="3">Cultural</option>
            <option value="4">Nature</option>
          </select>
        </td>
      </tr>
      <tr>
        <td colspan="2" style="text-align: right;">
          <button mat-raised-button type="submit" (click)="addTour()">Submit</button>
        </td>
      </tr>
    </table>
    <!-- Checkpoint Form Section -->
    <!--<h3>Add Checkpoint to Tour</h3>
    <xp-checkpoint-form (checkpointAdded)="onCheckpointAdded($event)"></xp-checkpoint-form>-->

  </form>

