<div class = "component">
    <h1>Clubs</h1>
    <br>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let club of clubs" (click)="showClubClick(club)" class="clickable-row">
          <td>{{ club.name }}</td>
          <td>{{ club.description }}</td>
          <td>
            <button mat-icon-button (click)="editClub(club)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <div *ngIf="clubs.length === 0">
      <p>No clubs available.</p>
    </div>
  </div>

<form [formGroup]="clubForm" *ngIf="!shouldEdit">
    <h2>Create Club</h2>
    <div>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" type="text" placeholder="Enter club name" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                formControlName="description"
                cdkAutosizeMaxRows="5"
                placeholder="Enter club description"></textarea>
        </mat-form-field>

        <mat-form-field>
            <mat-label>ImageId</mat-label>
            <input matInput formControlName="imageId" type="text" placeholder="Enter Image Id" />
        </mat-form-field>

        <button color="primary" type="submit" (click)="addClub()" mat-raised-button>Done</button>
    </div>
</form>

<form [formGroup]="clubForm" *ngIf="shouldEdit">
    <h2>Update Club</h2>
    <div>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" type="text" placeholder="Enter club name" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                formControlName="description"
                cdkAutosizeMaxRows="5"
                placeholder="Enter club description"></textarea>
        </mat-form-field>

        <mat-form-field>
            <mat-label>ImageId</mat-label>
            <input matInput formControlName="imageId" type="number" placeholder="Enter Image Id" />
        </mat-form-field>

        <button color="primary" type="submit" (click)="updateClub()" mat-raised-button>Update</button>
    </div>
</form>


  