<div id="rating-application">
    <p id="title">All ratings of application</p>
    <hr>
    <div id="rating-application-details">
        <div *ngFor="let ra of ratingApplication" class="rating-card">
            <div class="card-header">
                <h3>User ID: {{ ra.userId }}</h3>
                <div class="rating-icon">{{ '⭐'.repeat(ra.grade) }}</div>
            </div>
            <div class="card-content">
                <p class="comment">
                    <i *ngIf="ra.comment; else noComment">"{{ ra.comment }}"</i>
                    <ng-template #noComment><strong>Korisnik nije ostavio komentar!</strong></ng-template>
                </p>          
                      <p><strong>Rated on:</strong> {{ ra.ratingTime ? (ra.ratingTime | date:'dd/MM/yyyy HH:mm') : 'N/A' }}</p>
            </div>
        </div>
    </div>
</div>
