<mat-toolbar color="primary">
    <div>
        <img src="../../../../assets/logo.png" alt="Logo" class="logo">
        <div id="buttons">
            <button *ngIf="user && user.username === ''" color="accent" mat-raised-button [routerLink]="['login']">Login</button>
            <button *ngIf="user && user.username !== ''" color="accent" mat-raised-button (click)="onLogout()">Logout</button>
            <button *ngIf="user && user.username !== '' && (user.role === 'author' || user.role === 'tourist')" color="primary" mat-raised-button (click)="showProfile()">Profile</button>
            <button *ngIf="user && user.username !== '' && user.role ==='author'" color="primary" mat-raised-button (click)="showAddNewTour()">Add tour</button>
            <button *ngIf="user && user.username !== '' && user.role ==='author'" color="primary" mat-raised-button (click)="showMyTours()">My Tours</button>
            <button *ngIf="user && user.username !== '' && user.role ==='tourist'" color="primary" mat-raised-button (click)="showClub()">Club</button>
            <button *ngIf="user && user.username !== '' && user.role ==='author'" color="primary" mat-raised-button (click)="showObjects()">Objects</button>
            <button color="primary" mat-raised-button [routerLink]="['home']">Home</button>
            <button *ngIf="user && user.username !== ''" color="primary" mat-raised-button (click)="showComment()">Comment</button>
            <button *ngIf="user && user.role === 'author'"color="primary" mat-raised-button mat-raised-button (click)="showObjectsForUpdate()">Manage objects</button>
            <button *ngIf="user && user.role === 'administrator'"color="primary" mat-raised-button [routerLink]="['equipment']">Manage equipment</button>
            <button *ngIf="user && user.username !== '' && user.role === 'author'" color="primary" mat-raised-button (click)="showCheckpoints()">Checkpoints</button>
            <button *ngIf="user && user.role === 'administrator'"color="primary" mat-raised-button [routerLink]="['ratingsApplications']">All ratings</button>
            <button *ngIf="user && user.role === 'administrator'"color="primary" mat-raised-button [routerLink]="['tourIssueReport']">Tour Reports</button>
            <button *ngIf="user && user.role === 'tourist'"color="primary" mat-raised-button [routerLink]="['tourReporting']">Report Tour</button>
            <button *ngIf="user && user.role === 'administrator'"color="primary" mat-raised-button [routerLink]="['account']">Manage accounts</button>
            <button *ngIf="user && user.username !== '' && user.role ==='tourist'" color="primary" mat-raised-button (click)="showAllTours()">Tours</button>
            <button *ngIf="user && user.role === 'tourist'" color="primary" mat-raised-button [routerLink]="['myclub']">My Club</button>
            <button *ngIf="user && (user.role === 'tourist' ||user.role === 'author')"color="primary" mat-raised-button [routerLink]="['rateApp']">Rate Application</button>
        </div>
    </div>
</mat-toolbar>
