.position-selection-container {
    text-align: center; /* Center-align the text */
    margin-bottom: 20px; /* Add some space below */
}

.position-selection-container h2 {
    font-size: 24px; /* Increase the font size for the heading */
    color: #333; /* Set a color for the heading */
}

.instructions {
    font-size: 16px; /* Set a smaller font size for instructions */
    color: #666; /* Set a softer color for the instructions */
}

.map-container {
    border-radius: 10px; /* Round the corners */
    overflow: hidden; /* Ensure no overflow outside the border */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

xp-map {
    width: 100%; /* Make the map take the full width */
    height: 400px; /* Set a fixed height for the map */
}

.map-legend details {
    border: 2px solid #ccd1d9;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    background: white;
}

.map-legend summary {
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    color: #444;
    outline: none;
    display: flex;
    align-items: center;
}

.map-legend summary:hover {
    color: #0056b3;
}

.map-legend .legend-content {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

.map-legend ul {
    list-style-type: none;
    padding: 0;
}

.map-legend li {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.map-legend img {
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.map-legend summary .dropdown-arrow {
    display: inline-block;
    margin-left: 5px;
    transition: transform 0.3s;
    vertical-align: middle;
}

.map-legend details[open] .dropdown-arrow {
    transform: rotate(-90deg);
}




