<div class="tourist-management">
    <div class="column">
      <h3>Club Members</h3>
      <ul class="member-list">
        <li *ngFor="let member of members" class="member-item">
          <div class="member-info">
            <span class="username">{{ member.username }}</span>
            <span class="email">{{ member.email }}</span>
          </div>
          <button class="action-button btn-remove" (click)="removeMember(member.userId)">
            Remove
          </button>
        </li>
      </ul>
    </div>
  
    <div class="column">
      <h3>Non-Members</h3>
      <ul class="member-list">
        <li *ngFor="let nonMember of nonMembers" class="member-item">
          <div class="member-info">
            <span class="username">{{ nonMember.username }}</span>
            <span class="email">{{ nonMember.email }}</span>
          </div>
          <button class="action-button btn-invite" (click)="inviteTourist(nonMember)">
            Invite
          </button>
        </li>
      </ul>
    </div>
  </div>