<div>
    <br>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Longitude</th>
                <th>Latitude</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let check of checkpoints">
                <td>{{ check.name }}</td>
                <td>{{ check.description }}</td>
                <td>{{ check.longitude }}</td>
                <td>{{ check.latitude }}</td>
                <td>
                    <!-- Display image if exists -->
                    <img *ngIf="check.image?.data" [src]="'data:' + check.image?.mimeType + ';base64,' + check.image?.data" alt="Checkpoint Image" style="max-width: 150px; max-height: 150px;">
                </td>
            </tr>
        </tbody>
    </table>
    <div></div>
    <div>
        <xp-checkpoint-form></xp-checkpoint-form>
    </div>
</div>
