<div id="accounts" class="component">
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let acc of account">
        <tr *ngIf="acc.username !== user?.username">
          <td>{{acc.userId}}</td>
          <td>{{acc.username}}</td>
          <td>{{acc.email}}</td>
          <td>{{ getRoleName(acc.role) }}</td>
          <td [ngClass]="acc.isBlocked ? 'status-blocked' : 'status-active'">
            {{ acc.isBlocked ? 'Blocked' : 'Active' }}
          </td>
          <td>
            <div class="action-buttons">
              <ng-container *ngIf="acc.isBlocked; else notBlocked">
                <button class="unblock-btn" (click)="unblockUser(acc)">
                  Unblock
                </button>
              </ng-container>
              <ng-template #notBlocked>
                <button class="block-btn" (click)="blockUser(acc)">
                  Block
                </button>
              </ng-template>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>