<div class="calendar">
    <div class="calendar-header">
      <button (click)="goToPreviousMonth()">
        &#8592; Previous
      </button>
      <h2>{{ viewDate | date: 'MMMM yyyy' }}</h2>
      <button (click)="goToNextMonth()">
        Next &#8594;
      </button>
    </div>
  
    <div class="calendar-grid">
        <div class="calendar-day" *ngFor="let day of generateDays(viewDate)" (click)="handleDayClick(day)">
          <div class="day-number">{{ day.date | date: 'd' }}</div>
          <div *ngFor="let event of day.events" class="event-icon {{ event.category | lowercase }}">
            <span>{{ event.name }}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal for single event detail -->
<div *ngIf="selectedEvent" class="modal">
    <div class="modal-content">
      <h3>Event Details</h3>
      <p><strong>Event Name:</strong> {{ selectedEvent.name }}</p>
      <p><strong>Start Date:</strong> {{ selectedEvent.startDate | date: 'fullDate' }}</p>
      <p><strong>End Date:</strong> {{ selectedEvent.endDate | date: 'fullDate' }}</p>
      <p><strong>Description:</strong> {{ selectedEvent.description }}</p>
      <button (click)="closeModal()">Close</button>
    </div>
  </div>
  