<div style="margin-top: 5%; display: flex; justify-content: space-between; gap: 20px;">
    <!-- adding tour form -->
    <div style="flex: 1;">
        <form [formGroup]="tourForm">
            <table>
                <tr>
                    <td><label for="name">Name:</label></td>
                    <td>
                        <input type="text" id="name" name="name" placeholder="Name" formControlName="name" required>
                    </td>
                </tr>
                <tr>
                    <td><label for="description">Description:</label></td>
                    <td>
                        <input type="text" id="description" name="description" placeholder="Description"
                            formControlName="description" required>
                    </td>
                </tr>
                <tr>
                    <td><label for="difficulty">Difficulty:</label></td>
                    <td>
                        <select id="difficulty" name="difficulty" formControlName="difficulty" required>
                            <option value="0">Easy</option>
                            <option value="1">Moderate</option>
                            <option value="2">Hard</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="tag">Tag:</label></td>
                    <td>
                        <select id="tag" name="tag" formControlName="tag" required>
                            <option value="0">Adventure</option>
                            <option value="1">Relaxation</option>
                            <option value="2">Historical</option>
                            <option value="3">Cultural</option>
                            <option value="4">Nature</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: right;">
                        <button mat-raised-button type="submit" (click)="addTour()">Submit</button> 
                    </td>
                </tr>
            </table>
        </form>

        <form style="margin-top: 1vh;" [formGroup]="checkpointForm">
            <table>
                <tr>
                    <td><label for="name">Name:</label></td>
                    <td>
                        <input type="text" id="name" name="name" placeholder="Checkpoint Name" formControlName="name"
                            required>
                    </td>
                </tr>
                <tr>
                    <td><label for="description">Description:</label></td>
                    <td>
                        <textarea id="description" name="description" placeholder="Checkpoint Description"
                            formControlName="description" rows="3" required></textarea>
                    </td>
                </tr>
                <tr>
                    <td><label for="latitude">Latitude:</label></td>
                    <td>
                        <input type="number" id="latitude" name="latitude" placeholder="Latitude" formControlName="latitude"
                            readonly>
                    </td>
                </tr>
                <tr>
                    <td><label for="longitude">Longitude:</label></td>
                    <td>
                        <input type="number" id="longitude" name="longitude" placeholder="Longitude"
                            formControlName="longitude" readonly>
                    </td>
                </tr>
                <tr>
                    <td><label for="image">Upload Image:</label></td>
                    <td>
                        <input type="file" id="image" (change)="onFileSelect($event)" accept="image/*">
                    </td>
                </tr>
    
                <tr *ngIf="imagePreview">
                    <td colspan="2">
                        <h4>Image Preview:</h4>
                        <img [src]="imagePreview" alt="Image Preview" width="200">
                    </td>
                </tr>
    
                <!-- Add the map component -->
                <tr>
                    <td colspan="2">
                    </td>
                </tr>
    
                <tr>
                    <td colspan="2" style="text-align: right;">
                        <button mat-raised-button type="submit" (click)="addCheckpoint()"
                            [disabled]="checkpointForm.invalid">
                            Submit Checkpoint
                        </button>
                    </td>
                </tr>
            </table>
            <div style="max-width: 60%; margin: 0 auto;">
                <xp-map (locationSelected)="onLocationSelected($event)"></xp-map>
            </div>
    
        </form>
    </div>
    <div style="flex: 1;">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Longitude</th>
                    <th>Latitude</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let check of checkpoints">
                    <td>{{ check.name }}</td>
                    <td>{{ check.description }}</td>
                    <td>{{ check.longitude }}</td>
                    <td>{{ check.latitude }}</td>
                    <td>
                        <!-- Display image if exists -->
                        <img *ngIf="check.image?.data"
                            [src]="'data:' + check.image?.mimeType + ';base64,' + check.image?.data"
                            alt="Checkpoint Image" style="max-width: 150px; max-height: 150px;">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>