<div class = "initial_container">
    <div class="position-selection-container">
        <h2>Select Your Position</h2>
        <p class="instructions">Click on the map to choose your location.</p>
    </div>
    <div class = "map_and_button_container">
        <div class="map-container">
            <xp-map 
                (locationSelected)="onLocationSelected($event)" 
                [touristPosition]="touristPosition"
                [clearMarkersTrigger]="clearMarkersFlag" 
                (markersCleared)="onMarkersCleared()"
                [checkpointCordinatesCollection]="checkpointCordinates">
            </xp-map>
        </div>
        <div style="display: flex; flex-direction: column; align-items: end;">
            <div class="checkpoint-secrets-container">
                <div *ngIf="secret" class="secret-card">
                    <p>Secret: {{ secret }}</p>
                </div>  
            </div>
            <button (click)="endTour()" class="btn btn-accent">
                {{ executedCheckpoints.length === 0 ? 'Finish Tour' : 'Abandon Tour' }}
            </button> 
        </div>
    </div>    
</div>
<div class="events-container" style="text-align: center;">
    <h2>Events</h2>
    <div *ngIf="events.length > 0; else noEvents">
        <div *ngFor="let event of events" class="event-card">
            <div class="event-card">
                <img *ngIf="event.image?.data"
                                [src]="'data:' + event.image?.mimeType + ';base64,' + event.image?.data"
                                alt="Event Image" class="event-image">
                <div class="event-details">
                  <h2 class="event-name">{{event.name}}</h2>
                  <p class="event-category"><strong>Category:</strong>{{event.category}}</p>
                  <p class="event-description"><strong>Description:</strong>{{event.description}}</p>
                  <p class="event-dates">
                    <strong>Start:</strong> {{event.startDate}}<br />
                    <strong>End:</strong> {{event.endDate}}
                  </p>
                </div>
                <div class="event-actions">
                    <button class="btn btn-accent" (click)="joinEvent(event)"  >Interested</button>
                  </div>
              </div>
        </div>
    </div>
    <form #chapterForm="ngForm" (ngSubmit)="submitChapter()">
        <div>
          <label for="title">Naslov</label>
          <input type="text" id="title" name="title" [(ngModel)]="newChapter.title" required />
        </div>
      
        <div>
          <label for="text">Tekst</label>
          <textarea id="text" name="text" [(ngModel)]="newChapter.text" required></textarea>
        </div>
        
        <button type="submit" [disabled]="!chapterForm.form.valid">Dodaj Poglavlje</button>
        <button type="button" (click)="resetFields()">Resetuj Polja</button> <!-- Dugme za resetovanje samo polja -->
      </form>
      
    <ng-template #noEvents>
        <p>No events available.</p>
    </ng-template>
</div>