<div class = "initial_container">
    <div class="position-selection-container">
        <h2>Select Your Position</h2>
        <p class="instructions">Click on the map to choose your location.</p>
    </div>
    <div class = "map_and_button_container" >
        <div class="map-container">
            <xp-map 
                (locationSelected)="onLocationSelected($event)" 
                [touristPosition]="touristPosition"
                [clearMarkersTrigger]="clearMarkersFlag" 
                [eventsCollection]="eventCordinates"
                (markersCleared)="onMarkersCleared()"
                [checkpointCordinatesCollection]="checkpointCordinates">
            </xp-map>
        </div>
        <div style="margin-left: 3rem;">
          <div class="event-section" style="text-align: center;">
            <h2>Events</h2>
            <div *ngIf="events.length > 0; else noEvents" class="events-slider-container">
              <!-- Slider Buttons -->
              <button *ngIf="events.length > 2" class="slider-btn left" (click)="slideLeft()">❮</button>
              <div class="events-slider">
                <div
                  class="events-list"
                  [style.transform]="sliderTransform"
                  [style.transition]="sliderTransition"
                >
                  <div *ngFor="let event of events" class="event-card">
                    <div class="event-card-content">
                      <img
                        *ngIf="event.image?.data"
                        [src]="'data:' + event.image?.mimeType + ';base64,' + event.image?.data"
                        alt="Event Image"
                        class="event-image"
                      />
                      <div class="event-details">
                        <h2 class="event-name">{{ event.name }}</h2>
                        <p class="event-category">
                          <strong>Category:</strong> {{ event.category }}
                        </p>
                        <p class="event-description">
                          <strong>Description:</strong> {{ event.description }}
                        </p>
                        <p class="event-dates">
                          <strong>Start:</strong> {{  event.endDate | date: 'mediumDate'  }}<br />
                          <strong>End:</strong> {{  event.endDate | date: 'mediumDate'  }}
                        </p>
                      </div>
                      <div class="event-actions">
                        <button
                          *ngIf="!hasUserAcceptedEvent(event)"
                          class="btn btn-accent"
                          (click)="joinEvent(event)"
                        >
                          Interested
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button *ngIf="events.length > 2" class="slider-btn right" (click)="slideRight()">❯</button>
            </div>
            <ng-template #noEvents>
              <p>No events available.</p>
            </ng-template>
          </div>
          
          <div style="display: flex; flex-direction: column;">
              <div *ngIf="secret" class="secret-section">
                      <h2>Secret</h2>
                      <p>{{ secret }}</p>
              </div>
                <div style="margin-top: 10px;margin-bottom: 10px; display: flex; flex-direction: row;" >
                  <button *ngIf="diary.id" (click)="openModal()" class="btn btn-accent">Open diary</button> 
                  <button *ngIf="!diary.id" (click)="openModalCreate()" class="btn btn-accent">Create diary</button> 
                  <button (click)="endTour()" class="btn btn-accent">
                  {{ executedCheckpoints.length === 0 ? 'Finish Tour' : 'Abandon Tour' }}
                </button> 
                </div>
          </div>
        </div>

    </div>    
</div>
<!-- Modal u stilu otvorene knjige -->
<div class="book-overlay" *ngIf="isModalOpen">
  <div class="book">
    <!-- Naslov knjige -->
    <div class="book-title">
      <!-- Provera da li se uređuje naslov -->
      <div *ngIf="!isEditingTitle; else editTitleForm">
        <button class="new-chapter-btn" (click)="addNewChapter()">New chapter</button>
        <h1 style="font-size: 30px; margin-top: 10px;">{{ diary.title }}</h1>
        <button class="edit-btn" (click)="editTitle()">
          ✎ <!-- Ikonica za uređivanje -->
        </button>
        <button class="delete-btn" (click)="deleteDiary()">
          🗑 <!-- Ikonica za brisanje -->
        </button>
      </div>
    
      <ng-template #editTitleForm>
        <div class="title-edit">
          <input [(ngModel)]="editedTitle" placeholder="Unesite novi naslov..." />
          
          <!-- Dugmadi za sačuvaj i otkaži sa ikonama -->
          <div class="title-edit-actions">
            <button class="save-btn" (click)="saveTitle()">
              ✔ <!-- Ikonica za sačuvaj -->
            </button>
            <button class="cancel-btn" (click)="cancelEditTitle()">
              ✖ <!-- Ikonica za otkaži -->
            </button>
          </div>
        </div>
      </ng-template>
      


    </div>
    
   
    
    <!-- Poglavlja kao stranice knjige -->
    <div class="book-content scrollable-container">
      <div *ngFor="let chapter of chapters; let i = index" class="book-page">
        <!-- Poglavlje - naslov -->
        <div class="page-header">
          <h2>Chapter {{ i + 1 }}: {{ chapter.title }}</h2>
          <div class="chapter-actions">
            <button class="edit-btn" title="Edit chapter" (click)="editChapter(i)">✎</button>
            <button class="delete-btn" title="Delete chapter" (click)="deleteChapter(i)">🗑</button>
          </div>
        </div>
    
        <!-- Poglavlje - forma za uređivanje ili prikaz -->
        <div *ngIf="editedChapterIndex === i; else chapterView" class="page-edit">
          <form (submit)="saveChapter(i)">
            <label for="title">Title:</label>
            <input id="title" [(ngModel)]="chapter.title" name="title" />
    
            <label for="text">Text:</label>
            <textarea id="text" [(ngModel)]="chapter.text" name="text"></textarea>
    
            <button type="submit" class="save-btn">Save</button>
            <button type="button" class="cancel-btn" (click)="cancelEdit()">Cancel</button>
          </form>
        </div>
    
        <!-- Prikaz poglavlja -->
        <ng-template #chapterView>
          <div class="page-content">
            <img
              [src]="chapter.image?.data ? 'data:image/jpeg;base64,' + chapter.image?.data : 'https://via.placeholder.com/150'"
              alt="Slika poglavlja"
              class="chapter-image"
            />
            <p>{{ chapter.text }}</p>
          </div>
          <div class="page-footer">
            <p><strong>Created:</strong> {{ chapter.createdAt | date: 'short' }}</p>
          </div>
        </ng-template>
      </div>
    </div>
    
    <!-- Dugme za zatvaranje knjige -->
    <button class="close-book-btn" (click)="closeModal()">✖</button>
    
  </div>
</div>




<!-- Modal za kreiranje novog poglavlja -->
<div *ngIf="isNewChapterModalOpen" class="new-chapter-modal">
  <div class="modal-content">
    <h2 class="modal-title">Add new chapter</h2>
    <button class="close-btn" (click)="closeNewChapterForm()">✖</button>

    <!-- Forma za dodavanje poglavlja -->
    <form #chapterForm="ngForm" (ngSubmit)="submitChapter()">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" [(ngModel)]="newChapter.title" required placeholder="Enter the title"/>
      </div>

      <div class="form-group">
        <label for="text">Text</label>
        <textarea id="text" name="text" [(ngModel)]="newChapter.text" required placeholder="Enter the text"></textarea>
      </div>

      <div>
        <label for="image">Dodajte sliku:</label>
        <input
        type="file"
        id="image"
        accept="image/jpeg, image/png, image/gif"
        (change)="onFileSelected($event)"
        />
    </div>

    <!-- Prikaz odabrane slike -->
    <div *ngIf="newChapter.image?.data" class="preview">
        <h4>Pregled slike:</h4>
        <img
        [src]="'data:image/jpeg;base64,' + (newChapter.image?.data || '')"
        alt="Pregled slike"
        />
    </div>

      <div class="form-actions">
        <button type="submit" [disabled]="!chapterForm.form.valid" class="submit-btn">Create Chapter</button>
        <button type="button" (click)="resetFields()" class="reset-btn">Reset Field</button>
      </div>
    </form>

  </div>
</div>

<!-- Modal za unos naziva dnevnika -->
<div *ngIf="createDiaryModal" class="modal">
  <div class="modal-content">
    <h3>Create New Diary</h3>
    <form (ngSubmit)="submitDiaryForm()">
      <label for="diaryTitle">Diary Title:</label>
      <input
        id="diaryTitle"
        type="text"
        [(ngModel)]="diary.title"
        name="diaryTitle"
        required
      />
      <div class="modal-footer">
        <button type="button" class="btn btn-cancel" (click)="closeCreateDiaryModal()">Cancel</button>
        <button type="submit" class="btn btn-next" [disabled]="!diary.title">Next</button>
      </div>
    </form>
  </div>
</div>
