.initial_container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    flex-direction: column;
}

.map_and_button_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.checkpoint-secrets-container {
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: left;
}

.secret-card {
  background-color: #D2B48C;/* Light background color */
  border: 2px solid #654321; /* Accent color border */
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  text-align: center;
}

.secret-card p {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin: 0;
}


.position-selection-container {
    text-align: center; /* Center-align the text */
    margin-bottom: 20px; /* Add some space below */
}

.position-selection-container h2 {
    font-size: 24px; /* Increase the font size for the heading */
    color: #333; /* Set a color for the heading */
}

.instructions {
    font-size: 16px; /* Set a smaller font size for instructions */
    color: #666; /* Set a softer color for the instructions */
}

.map-container {
    width: 1000px;
    border-radius: 10px; /* Round the corners */
    overflow: hidden; /* Ensure no overflow outside the border */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

xp-map {
    width: 100%; /* Make the map take the full width */
    height: 400px; /* Set a fixed height for the map */
}

.event-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.event-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.event-details {
  padding: 16px;
}

.event-name {
  font-size: 20px;
  margin-bottom: 8px;
  color: #333;
}

.event-category,
.event-description,
.event-dates,
.event-id {
  margin: 4px 0;
  font-size: 14px;
  color: #555;
}

.btn {
    flex: 1;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    flex-direction: column;
    gap: 0.5rem;
    transition: all 0.2s ease;
    margin-left: 30px;
  
    &.btn-primary {
      background-color: var(--primary-brown);
      color: var(--white);
  
      &:hover {
        background-color: var(--dark-brown);
      }
    }
  
    &.btn-accent {
      background-color: var(--light-brown);
      color: var(--dark-brown);
  
      &:hover {
        background-color: var(--lighter-brown);
      }
    }
  }