<div class="checkbox">
    <label>
        <input type="checkbox" [(ngModel)]="showActive" (change)="applyFilter()" />
        Show Active Blogs
    </label>
    <label>
        <input type="checkbox" [(ngModel)]="showFamous" (change)="applyFilter()" />
        Show Famous Blogs
    </label>
</div>
<div class="blog-card-container">
    <div class="blog-card" *ngFor="let blog of blogs" (click)="goToBlog(blog)">
        <p class="blog-date">{{ blog.date | date: 'longDate' }}</p>
          <div class="blog-img" *ngIf="blog.images && blog.images.length > 0">
            <img [src]="blog.images[0].data" [alt]="blog.title" class="blog-image" />
          </div>
          <div class="blog-img" *ngIf="!blog.images || blog.images.length === 0">
            <img src="../../../../assets/traveling-with-off-road-car.jpg" alt="Default Blog Image" class="blog-image" />
          </div>
        <div class="blog-card-header" style="color: var(--coyote) !important;">
            <p>{{ blog.title }}</p>
        </div>
        <div class="blog-desc">
            <p class="blog-description"><markdown [data]="blog.description"></markdown></p>
        </div>
        <div class="blog-card-body">
            <div class="blog-card-left">
                <img 
                [src]="blog.author?.profileImage?.data?.startsWith('data:image/jpeg;base64,') 
                        ? blog.author?.profileImage?.data 
                        : 'data:image/jpeg;base64,' + blog.author?.profileImage?.data" 
                class="blog-author">
                <p class="blog-author-name">{{blog.author?.name}} {{blog.author?.lastName}}</p>
            </div>            
            <div class="blog-card-right">
                <div class="vote-count">
                    <img src="../../../../assets/heart.png" class="vote-icon"> 
                    <span>{{ countVotes(blog).upvotes }}</span>
                </div>
                <div class="vote-count">
                    <img src="../../../../assets/dislike (1).png" class="vote-icon"> 
                    <span>{{ countVotes(blog).downvotes }}</span>
                </div>
            </div>            
        </div>

    </div>
    <br>
</div>

<div>
    <div>
        <button mat-raised-button color="primary" (click)="createBlog()">Create Blog</button>
    </div>        
</div>
