<div class="chat-container padding">
  <mat-toolbar class="header">
    <div class="header-buttons">
      <button mat-stroked-button *ngIf="user?.role === 'tourist'">Mark as done</button>
      <button mat-stroked-button *ngIf="user?.role === 'tourist'">Alert admin</button>
      <button mat-stroked-button *ngIf="user?.role === 'administrator'" (click)="showCloseReportOverlay = true" 
              [disabled]="tourIssueReport ? tourIssueReport.status === 1 : true">Close</button>
      <button mat-stroked-button *ngIf="user?.role === 'administrator'" (click)="showSetFixUntilDateOverlay = true">Set until date</button>
      <button mat-stroked-button *ngIf="user?.role === 'administrator'" (click)="showCloseTourOverlay = true">Penalize author</button>
    </div>
    <h2 class="title text-primary">NAZIV TURE</h2>
    <div class="header-right">
      <span class="status text-light">Fix Until: {{ tourIssueReport.fixUntil | date:'dd-MMM-yyyy HH:mm' }}</span>
      <span class="status text-light">status: {{ getStatus(tourIssueReport.status) }}</span>
    </div>
  </mat-toolbar>

  <div class="messages-container">
    <div class="message-list">
      <div *ngFor="let comment of comments" 
           class="message-wrapper"
           [ngClass]="{'message-right': comment.userId === user?.id, 'message-left': comment.userId !== user?.id}">
        <mat-card class="message" 
                  [ngClass]="{
                    'tourist-message': comment.userId === tourIssueReport.userId,
                    'author-message': comment.userId === tour.userId,
                    'admin-message': comment.userId !== user?.id && 
                                   comment.userId !== tourIssueReport.userId && 
                                   comment.userId !== tour.userId,
                    'user-message': comment.userId === user?.id
                  }">
          <mat-card-header>
            <mat-card-title class="message-sender">
              {{
                comment.userId === user?.id ? 'You' : 
                (comment.userId === tourIssueReport.userId ? 'Tourist' : 
                (comment.userId === tour.userId ? 'Author' : 'Admin'))
              }}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{ comment.comment }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="input-container">
    <mat-form-field appearance="outline" class="message-input">
      <input matInput placeholder="Type a message..." #commentInput>
    </mat-form-field>
    <button mat-raised-button class="postCommentButton" (click)="PostComment(commentInput.value)">Send</button>
  </div>


  <div *ngIf="showSetFixUntilDateOverlay" class="overlay">
    <div class="comment-form">
      <h3>Pick date (time is optional)</h3>
      
      <mat-form-field appearance="outline" class="comment-input">
        <input 
          matInput [min]="today"
          [matDatepicker]="picker" 
          placeholder="Izaberite datum" 
          [(ngModel)]="FixUntilDate" 
          required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="comment-input">
        <input type="time" matInput placeholder="Izaberite vreme" [(ngModel)]="FixUntilTime" required>
      </mat-form-field>
      
      <div class="form-actions">
        <button 
          mat-raised-button 
          color="primary" 
          (click)="SetFixUntilDate()">Accept</button>
        <button 
          mat-raised-button 
          color="warn" 
          (click)="showSetFixUntilDateOverlay = false">Cancel</button>
      </div>
    </div>
  </div>
  
  <div *ngIf="showCloseReportOverlay" class="overlay">
    <div class="comment-form">
      <h3>Close Report?</h3>
      <div class="form-actions">
        <button mat-raised-button color="primary" (click)="CloseTourIssueReport()">Accept</button>
        <button mat-raised-button color="warn" (click)="showCloseReportOverlay = false">Cancel</button>
      </div>
    </div>
  </div>
  
  <div *ngIf="showCloseTourOverlay" class="overlay">
    <div class="comment-form">
      <h3>Do you want to close this Tour?</h3>
      <div class="form-actions">
        <button mat-raised-button color="primary" (click)="CloseTour()">Accept</button>
        <button mat-raised-button color="warn" (click)="showCloseTourOverlay = false">Cancel</button>
      </div>
    </div>
  </div>


</div>
