<div class="new-sale-container">
    <h2>Create New Sale</h2>
  
    <mat-stepper [linear]="true" #stepper>
      <mat-step [stepControl]="saleDetailsFormGroup">
        <form [formGroup]="saleDetailsFormGroup">
          <ng-template matStepLabel>Sale Details</ng-template>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Sale Name</mat-label>
            <input matInput formControlName="name" placeholder="Enter sale name" required />
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Discount Percentage</mat-label>
            <input
              matInput
              type="number"
              formControlName="discountPercentage"
              placeholder="Enter discount percentage"
              required
            />
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>End Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="endDate" required />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
  
          <div class="actions">
            <button mat-button matStepperNext [disabled]="!saleDetailsFormGroup.valid">
              Next
            </button>
          </div>
        </form>
      </mat-step>
  
      <mat-step>
        <ng-template matStepLabel>Add Tours</ng-template>
        <div *ngFor="let tour of tours" class="tour-item">
            <input
              type="checkbox"
              [checked]="tour.selected"
              (change)="toggleTourSelection(tour)"
            />
            {{ tour.name }} - ${{ tour.price }}
          </div>          
        <div class="actions">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button color="primary" (click)="saveSale()">Save Sale</button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
  