<div class="login-container">
 <img src="assets/capAndDaisiesLandscape.jpg" alt="Let's Explore Illustration" class="login-illustration" />
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" type="text" />
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password" />
            </mat-form-field>

            <div *ngIf="errorMessage" class="error-message">
                <label class="error-message" style="color: red; font-size: medium;">
                       {{ errorMessage }}
                </label>
            </div>

            <button color="primary" type="submit" mat-raised-button>Login</button>

            <p>Don't have an account yet?<a href="/register">Sign Up</a></p>
        </div>
    </form>
</div>