  <div class="background">
    <div class="div-bg"></div>
    <div class="wherever"><p>WHEREVER</p></div>
    <div class="you-want"><p>YOU WANT.</p></div>
    <div class="questions">
      <div class="question-item">
        <div class="circle">
          <img src="../../../../assets/support1.png" alt="Icon 1">
        </div>
          <span class="text">SUPPORT 24/7</span>
      </div>
      <div class="question-item">
        <div class="circle">
          <img src="../../../../assets/user1.png" alt="Icon 1">
        </div>
          <span class="text">A LOT OF VISITORS</span>
      </div>
      <div class="question-item">
        <div class="circle">
          <img src="../../../../assets/calendar.png" alt="Icon 1">
        </div>
          <span class="text">FREE CANCELATION</span>
      </div>
  </div>
  
  </div>
    <div class="image-container">
  </div>

  <div class="best-tours">
    <div class="tours-header">
      <div class="tours-title">
        <p>Popular tours</p>
        <div></div>
      </div>
      <div class="buttons">
        <button (click)="nextTours()" class="next"><img src="../../../../assets/next.png"></button>
        <button (click)="previousTours()" class="previous"><img src="../../../../assets/previous.png"></button>
      </div>
    </div>
    <div class="tours">
    <div class="tour">
      <div class="tour-image">
        <img src="../../../../assets/traveling-with-off-road-car.jpg">
      </div>
      <div>
        <p class="tour-title">
          Explore mountains with Bob
        </p>
        <p class="tour-text">
          Get ready for an unforgettable adventure tour that combines the thrill of mountain hiking with the excitement of river trekking. 
          This full-day excursion is designed for adventure seekers looking to immerse themselves in nature and push their limits.
          We begin early in the morning, with a hike up the rugged mountain trails. 
        </p>
      </div>
      <div class="tour-footer">
      <div class="tour-person">
        <div class="tour-person-image">
            <img src="../../../../assets/bob.jpg" alt="Bob Parkin">
        </div>
        <span class="tour-person-name">
            <p> Bob Parkin</p>
        </span>
    </div>
    <div class="footer-button">
        <button class="link-button">Book</button>
    </div>
    </div>
    <div class="tour-review">
      <div>
        <img src="../../../../assets/heart.png" alt="">
        <p>250</p>
      </div>
      <div>
        <img src="../../../../assets/users.png" alt="">
        <p>2500</p>
      </div>
    </div>
    <div class="tour-filters">
      <div class="tour-tag">
        <img src="../../../../assets/mountain1.png">
        <p>Adventure</p>
      </div>
      <div class="tour-dificulty">
        <img src="../../../../assets/volume1.png">
        <p>Hard</p>
      </div>
    </div>
    </div>
    <div class="tour">
      <div class="tour-image">
        <img src="../../../../assets/traveling-with-off-road-car.jpg">
      </div>
      <div>
        <p class="tour-title">
          Explore mountains with Bob
        </p>
        <p class="tour-text">
          Get ready for an unforgettable adventure tour that combines the thrill of mountain hiking with the excitement of river trekking. 
          This full-day excursion is designed for adventure seekers looking to immerse themselves in nature and push their limits.
          We begin early in the morning, with a hike up the rugged mountain trails. 
        </p>
      </div>
      <div class="tour-footer">
      <div class="tour-person">
        <div class="tour-person-image">
            <img src="../../../../assets/bob.jpg" alt="Bob Parkin">
        </div>
        <span class="tour-person-name">
            <p> Bob Parkin</p>
        </span>
    </div>
    <div class="footer-button">
        <button class="link-button">Book</button>
    </div>
    </div>
    <div class="tour-review">
      <div>
        <img src="../../../../assets/heart.png" alt="">
        <p>250</p>
      </div>
      <div>
        <img src="../../../../assets/users.png" alt="">
        <p>2500</p>
      </div>
    </div>
    <div class="tour-filters">
      <div class="tour-tag">
        <img src="../../../../assets/mountain1.png">
        <p>Adventure</p>
      </div>
      <div class="tour-dificulty">
        <img src="../../../../assets/volume1.png">
        <p>Hard</p>
      </div>
    </div>
    </div>

    <div class="tour">
      <div class="tour-image">
        <img src="../../../../assets/traveling-with-off-road-car.jpg">
      </div>
      <div>
        <p class="tour-title">
          Explore mountains with Bob
        </p>
        <p class="tour-text">
          Get ready for an unforgettable adventure tour that combines the thrill of mountain hiking with the excitement of river trekking. 
          This full-day excursion is designed for adventure seekers looking to immerse themselves in nature and push their limits.
          We begin early in the morning, with a hike up the rugged mountain trails. 
        </p>
      </div>
      <div class="tour-footer">
      <div class="tour-person">
        <div class="tour-person-image">
            <img src="../../../../assets/bob.jpg" alt="Bob Parkin">
        </div>
        <span class="tour-person-name">
            <p> Bob Parkin</p>
        </span>
    </div>
    <div class="footer-button">
        <button class="link-button">Book</button>
    </div>
    </div>
    <div class="tour-review">
      <div>
        <img src="../../../../assets/heart.png" alt="">
        <p>250</p>
      </div>
      <div>
        <img src="../../../../assets/users.png" alt="">
        <p>2500</p>
      </div>
    </div>
    <div class="tour-filters">
      <div class="tour-tag">
        <img src="../../../../assets/mountain1.png">
        <p>Adventure</p>
      </div>
      <div class="tour-dificulty">
        <img src="../../../../assets/volume1.png">
        <p>Hard</p>
      </div>
    </div>
    </div>

    <div class="tour">
      <div class="tour-image">
        <img src="../../../../assets/traveling-with-off-road-car.jpg">
      </div>
      <div>
        <p class="tour-title">
          Explore mountains with Bob
        </p>
        <p class="tour-text">
          Get ready for an unforgettable adventure tour that combines the thrill of mountain hiking with the excitement of river trekking. 
          This full-day excursion is designed for adventure seekers looking to immerse themselves in nature and push their limits.
          We begin early in the morning, with a hike up the rugged mountain trails. 
        </p>
      </div>
      <div class="tour-footer">
      <div class="tour-person">
        <div class="tour-person-image">
            <img src="../../../../assets/bob.jpg" alt="Bob Parkin">
        </div>
        <span class="tour-person-name">
            <p> Bob Parkin</p>
        </span>
    </div>
    <div class="footer-button">
        <button class="link-button">Book</button>
    </div>
    </div>
    <div class="tour-review">
      <div>
        <img src="../../../../assets/heart.png" alt="">
        <p>250</p>
      </div>
      <div>
        <img src="../../../../assets/users.png" alt="">
        <p>2500</p>
      </div>
    </div>
    <div class="tour-filters">
      <div class="tour-tag">
        <img src="../../../../assets/mountain1.png">
        <p>Adventure</p>
      </div>
      <div class="tour-dificulty">
        <img src="../../../../assets/volume1.png">
        <p>Hard</p>
      </div>
    </div>
    </div>

    <div class="tour">
      <div class="tour-image">
        <img src="../../../../assets/traveling-with-off-road-car.jpg">
      </div>
      <div>
        <p class="tour-title">
          Explore mountains with Bob
        </p>
        <p class="tour-text">
          Get ready for an unforgettable adventure tour that combines the thrill of mountain hiking with the excitement of river trekking. 
          This full-day excursion is designed for adventure seekers looking to immerse themselves in nature and push their limits.
          We begin early in the morning, with a hike up the rugged mountain trails. 
        </p>
      </div>
      <div class="tour-footer">
      <div class="tour-person">
        <div class="tour-person-image">
            <img src="../../../../assets/bob.jpg" alt="Bob Parkin">
        </div>
        <span class="tour-person-name">
            <p> Bob Parkin</p>
        </span>
    </div>
    <div class="footer-button">
        <button class="link-button">Book</button>
    </div>
    </div>
    <div class="tour-review">
      <div>
        <img src="../../../../assets/heart.png" alt="">
        <p>250</p>
      </div>
      <div>
        <img src="../../../../assets/users.png" alt="">
        <p>2500</p>
      </div>
    </div>
    <div class="tour-filters">
      <div class="tour-tag">
        <img src="../../../../assets/mountain1.png">
        <p>Adventure</p>
      </div>
      <div class="tour-dificulty">
        <img src="../../../../assets/volume1.png">
        <p>Hard</p>
      </div>
    </div>
    </div>

    <div class="tour">
      <div class="tour-image">
        <img src="../../../../assets/traveling-with-off-road-car.jpg">
      </div>
      <div>
        <p class="tour-title">
          Explore mountains with Bob
        </p>
        <p class="tour-text">
          Get ready for an unforgettable adventure tour that combines the thrill of mountain hiking with the excitement of river trekking. 
          This full-day excursion is designed for adventure seekers looking to immerse themselves in nature and push their limits.
          We begin early in the morning, with a hike up the rugged mountain trails. 
        </p>
      </div>
      <div class="tour-footer">
      <div class="tour-person">
        <div class="tour-person-image">
            <img src="../../../../assets/bob.jpg" alt="Bob Parkin">
        </div>
        <span class="tour-person-name">
            <p> Bob Parkin</p>
        </span>
    </div>
    <div class="footer-button">
        <button class="link-button">Book</button>
    </div>
    </div>
    <div class="tour-review">
      <div>
        <img src="../../../../assets/heart.png" alt="">
        <p>250</p>
      </div>
      <div>
        <img src="../../../../assets/users.png" alt="">
        <p>2500</p>
      </div>
    </div>
    <div class="tour-filters">
      <div class="tour-tag">
        <img src="../../../../assets/mountain1.png">
        <p>Adventure</p>
      </div>
      <div class="tour-dificulty">
        <img src="../../../../assets/volume1.png">
        <p>Hard</p>
      </div>
    </div>
    </div>

    <div class="tour">
      <div class="tour-image">
        <img src="../../../../assets/traveling-with-off-road-car.jpg">
      </div>
      <div>
        <p class="tour-title">
          Explore mountains with Bob
        </p>
        <p class="tour-text">
          Get ready for an unforgettable adventure tour that combines the thrill of mountain hiking with the excitement of river trekking. 
          This full-day excursion is designed for adventure seekers looking to immerse themselves in nature and push their limits.
          We begin early in the morning, with a hike up the rugged mountain trails. 
        </p>
      </div>
      <div class="tour-footer">
      <div class="tour-person">
        <div class="tour-person-image">
            <img src="../../../../assets/bob.jpg" alt="Bob Parkin">
        </div>
        <span class="tour-person-name">
            <p> Bob Parkin</p>
        </span>
    </div>
    <div class="footer-button">
        <button class="link-button">Book</button>
    </div>
    </div>
    <div class="tour-review">
      <div>
        <img src="../../../../assets/heart.png" alt="">
        <p>250</p>
      </div>
      <div>
        <img src="../../../../assets/users.png" alt="">
        <p>2500</p>
      </div>
    </div>
    <div class="tour-filters">
      <div class="tour-tag">
        <img src="../../../../assets/mountain1.png">
        <p>Adventure</p>
      </div>
      <div class="tour-dificulty">
        <img src="../../../../assets/volume1.png">
        <p>Hard</p>
      </div>
    </div>
    </div>


    <div class="tour">
      <div class="tour-image">
        <img src="../../../../assets/traveling-with-off-road-car.jpg">
      </div>
      <div>
        <p class="tour-title">
          Explore mountains with Bob
        </p>
        <p class="tour-text">
          Get ready for an unforgettable adventure tour that combines the thrill of mountain hiking with the excitement of river trekking. 
          This full-day excursion is designed for adventure seekers looking to immerse themselves in nature and push their limits.
          We begin early in the morning, with a hike up the rugged mountain trails. 
        </p>
      </div>
      <div class="tour-footer">
      <div class="tour-person">
        <div class="tour-person-image">
            <img src="../../../../assets/bob.jpg" alt="Bob Parkin">
        </div>
        <span class="tour-person-name">
            <p> Bob Parkin</p>
        </span>
    </div>
    <div class="footer-button">
        <button class="link-button">Book</button>
    </div>
    </div>
    <div class="tour-review">
      <div>
        <img src="../../../../assets/heart.png" alt="">
        <p>250</p>
      </div>
      <div>
        <img src="../../../../assets/users.png" alt="">
        <p>2500</p>
      </div>
    </div>
    <div class="tour-filters">
      <div class="tour-tag">
        <img src="../../../../assets/mountain1.png">
        <p>Adventure</p>
      </div>
      <div class="tour-dificulty">
        <img src="../../../../assets/volume1.png">
        <p>Hard</p>
      </div>
    </div>
    </div>

    </div>
  </div>
  <div>
    
  </div>


    


  
  