<div class="background">
  <div class="div-bg"></div>
  <div class="wherever"><p>WHEREVER</p></div>
  <div class="you-want"><p>YOU WANT.</p></div>
  <div class="questions">
      <div class="question-item">
          <div class="circle">
              <img src="../../../../assets/support1.png" alt="Icon 1">
          </div>
          <span class="text">SUPPORT 24/7</span>
      </div>
      <div class="question-item">
          <div class="circle">
              <img src="../../../../assets/user1.png" alt="Icon 1">
          </div>
          <span class="text">A LOT OF VISITORS</span>
      </div>
      <div class="question-item">
          <div class="circle">
              <img src="../../../../assets/calendar.png" alt="Icon 1">
          </div>
          <span class="text">FREE CANCELATION</span>
      </div>
  </div>
</div>

<!-- Overlay za spinovanje sa Wheel of Fortune -->
<div class="overlay" *ngIf="wheelVisible">
    <div class="wheel-container">
        <app-wheel-of-fortune (spinCompleted)="onSpinCompleted($event)"
        [disabled]="isWheelSpinned"></app-wheel-of-fortune>
        <div *ngIf="spinResultVisible" class="spin-result-container">
            <p>{{ spinResult }}</p>
            <button (click)="closeSpinOverlay()">OK</button>
        </div>
    </div>
</div>

<div class="image-container"></div>

<div class="slider-container" *ngIf="user.role.toLowerCase() === 'author' || user.role.toLowerCase() === 'tourist'">
  <div class="slider-header">
      <div class="title-container">
          <h2 class="slider-title" *ngIf="user.role.toLowerCase() === 'author'">Your tours</h2>
          <h2 class="slider-title" *ngIf="user.role.toLowerCase() === 'tourist'">Popular tours</h2>
          <div class="title-underline"></div>
      </div>
      <div class="navigation-buttons">
          <button (click)="slideLeft()" [disabled]="isFirstSlide()" class="nav-button">
              <img src="../../../../assets/next.png" alt="Previous" [class.disabled]="isFirstSlide()">
          </button>
          <button (click)="slideRight()" [disabled]="isLastSlide()" class="nav-button">
              <img src="../../../../assets/previous.png" alt="Next" [class.disabled]="isLastSlide()">
          </button>
      </div>
  </div>

  <div class="slider-wrapper">
      <h2 *ngIf="user.role.toLowerCase() === 'author' && tours.length == 0">You haven't made your first tour!</h2>
      <div class="slider-track" [style.transform]="getSliderStyle().transform" [style.width]="getSliderStyle().width">
          <div class="tour-card" *ngFor="let tour of tours" (click)="showTourClick(tour)">
              <div class="tour-image">
                  <img src="../../../../assets/traveling-with-off-road-car.jpg" [alt]="tour.name">
                  <div class="tour-stats">
                      <div class="stat-badge">
                          <img src="../../../../assets/heart.png" alt="likes">
                          <span>100</span>
                      </div>
                      <div class="stat-badge">
                          <img src="../../../../assets/users.png" alt="visitors">
                          <span>200</span>
                      </div>
                  </div>
              </div>

              <div class="tour-content">
                  <h3 class="tour-title">{{tour.name}}</h3>
                  <p class="tour-description">{{tour.description}}</p>
                  <div class="card-price">
                      <span class="price">${{ tour.price }}</span> per person
                  </div>
              </div>

              <div class="tour-tags">
                  <div class="tag">
                      <img src="../../../../assets/mountain1.png" alt="tag">
                      <span>{{getTagLabel(tour.tag)}}</span>
                  </div>
                  <div class="difficulty">
                      <img src="../../../../assets/volume1.png" alt="difficulty">
                      <span>{{getDifficultyLabel(tour.difficulty)}}</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>