<div id="accounts" class="component">
    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Wallet Balance</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let acc of account">
          <tr *ngIf="acc.role === 2 && acc.username !== user?.username">
            <td>{{ acc.username }}</td>
            <td>{{ acc.email }}</td>
            <td>{{ walletBalances[acc.userId] }}</td>
            <td>
              <div class="action-buttons">
                <button class="add-funds-btn" (click)="addFunds(acc)">
                  Add Funds
                </button>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  