/* You can add global styles to this file, and also import other style files */

:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --font-family: 'Roboto', sans-serif;
    --background-color: #f8ebcf;
    --text-color: #333;
  }
  
  /* Global styles for essential HTML tags */
  body {
    font-family: var(--font-family);
    background-color: #f5f5f5; 
    color: var(--text-color);
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
  
  /* Background image for the homepage */
  .background {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 110vh; 
    position: relative; 
    z-index: 1; 
  }
  
  /* Navbar styles */
  .mat-toolbar {
    width: 90%;
    margin: 1% auto;
    background-color: rgba(248, 235, 207, 0.95); 
    position: fixed; 
    top: 0; 
    left: 5%; 
    z-index: 2; 
  }
  
  /* Add margin to components to prevent overlap with navbar */
  .component {
    margin-top: 70px; /* Adjust this based on the height of your navbar */
  }
  
  /* General container styles */
  .container {
    max-width: 1200px; /* Max width for your layout */
    margin: 0 auto;
    padding: 20px; /* Padding to ensure spacing */
  }
  
  /* Specific styles for buttons to maintain consistency */
  #buttons {
    width: auto;
    margin-left: auto;
  }
  
  #buttons button {
    color: #01757A;
    background-color: transparent;
    box-shadow: none;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    letter-spacing: -0.1px;
    padding: 1%;
    border-radius: 0;
    transition: background-color 0.3s ease; /* Smooth hover transition */
  }
  
  #buttons button:hover {
    background-color: transparent !important;
    box-shadow: none;
  }
  
  .active {
    color: #01757A;
    border-bottom: 2.5px solid #E57734;
    background-color: transparent;
    box-shadow: none;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    letter-spacing: -0.1px;
  }
  
  .logout {
    color: #E57734 !important;
  }
  
  .logo {
    height: 30px;
    margin-right: 20px;
  }
  
  /* Additional styles for homepage components */
  .wherever, .you-want {
    background-color: rgba(248, 235, 207, 0.9); /* Match navbar color */
    position: relative;
    font-size: 4rem;
    font-weight: bold;
    display: block;
    line-height: 1.0;
  }
  
  .wherever {
    left: 5%;
  }
  
  .you-want {
    left: 15%;
    color: #E57734;
  }
  
  /* Questions and related styles */
  .questions {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Ensure images scale correctly */
  .questions img {
    width: 60%;
  }
  

  
  
  