<div class="form-container">
<form [formGroup]="objectForm" (ngSubmit)="addObject()">
    <div>
      <!-- Name Field -->
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" formControlName="name" type="text" class="form-control" />
        <!-- Error message for Name field -->
        <div *ngIf="objectForm.get('name')?.invalid && objectForm.get('name')?.touched">
          <small class="error">Name is required</small>
        </div>
      </div>
  
      <!-- Description Field -->
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea
          id="description"
          formControlName="description"
          rows="5"
          class="form-control"
        ></textarea>
      </div>
  
      <!-- Category Dropdown -->
      <div class="form-group">
        <label for="category">Category</label>
        <select id="category" formControlName="category" class="form-control">
          <option value="">Select a category</option> <!-- Default empty option -->
          <option value="0">WC</option>
          <option value="1">Restaurant</option>
          <option value="2">Parking</option>
        </select>
        <!-- Error message for Category field -->
        <div *ngIf="objectForm.get('category')?.invalid && objectForm.get('category')?.touched">
          <small class="error">Category is required</small>
        </div>
      </div>
  
      <!-- File Input for Image -->
      <div class="form-group">
        <label for="image-upload">Image:</label>
        <input type="file" id="image-upload" (change)="onFileSelect($event)" class="form-control" />
      </div>
  
      <!-- Image Preview -->
      <div *ngIf="imagePreview" class="image-preview-container">
        <label>Image Preview:</label>
        <img [src]="imagePreview" alt="Profile Image Preview" class="image-preview" />
      </div>

      <div class="form-group">
        <label for="latitude">Latitude</label>
        <input type="text" id="latitude" formControlName="latitude" class="form-control" readonly />
        <div *ngIf="objectForm.get('latitude')?.invalid && objectForm.get('latitude')?.touched">
          <small class="error">Latitude is required and must be a valid number</small>
        </div>
      </div>
  
      <!-- Longitude Field -->
      <div class="form-group">
        <label for="longitude">Longitude</label>
        <input type="text" id="longitude" formControlName="longitude" class="form-control" readonly />
        <div *ngIf="objectForm.get('longitude')?.invalid && objectForm.get('longitude')?.touched">
          <small class="error">Longitude is required and must be a valid number</small>
        </div>
      </div>

      <div class="map-container">
        <xp-map (locationSelected)="onLocationSelected($event)" [clearMarkersTrigger]="clearMarkersFlag" (markersCleared)="onMarkersCleared()"></xp-map>
      </div>
      <!-- Submit Button -->
      <div class="form-group">
        <button type="submit" class="btn btn-primary" (click)="clearMarkers()" >Add</button>
      </div>
    </div>
  </form>
</div>
