<form [formGroup]="objectForm">
    <div>
        <mat-form-field>
            <label>Name:</label>
            <input matInput formControlName="name" type="text"/>
        </mat-form-field>
        <mat-form-field>
          <label>Description: </label>
          <textarea matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="1"
          formControlName="description"
          cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>
        <mat-form-field >
            <label>Category: </label>
            <select id="category" name="category" formControlName="category" required>
                <option value="wc">WC</option>
                <option value="1">Restaurant</option>
                <option value="2">Parking</option>
              </select>
          </mat-form-field>
          <button mat-raised-button type="submit" color="primary" (click)="addObject()">Add</button>
          <div class="file-input-container">
            <div class="file-input">
              <label for="image-upload"> Image</label>
              <input type="file" id="image-upload" (change)="onFileSelect($event)">
            </div>
      
            <!-- Image Preview -->
            <div *ngIf="imagePreview" class="image-preview-container">
              <label>Image Preview</label>
              <img [src]="imagePreview" alt="Profile Image Preview" class="image-preview"/>
            </div>
          </div>
    </div>
</form>
