<div class="blogInfo">
  <div *ngIf="blogImages.length > 0" class="image-gallery">
    <div *ngFor="let image of blogImages" class="image-item">
      <img [src]="image.data" [alt]="'Image '" class="blog-image"/>
    </div>
  </div>
  

  <div class="blog-parent">
    <div *ngIf="blog" class="blog-details-container">
      <p><strong>Date: {{ blog.date | date: 'longDate' }}</strong></p>
      <h1>{{ blog.title }}</h1>
    </div>
    <div *ngIf="blog" class="blog-content">
      <h2>Content</h2>
      <p>{{ blog.description }}</p>
    </div>
  </div>
  
  <div *ngIf="!blog" class="error-message">
    <p>Blog not found.</p>
  </div>

  <div class="blog-author">
    <div class="blog-card-left">
      <img src="../../../../assets/bob.jpeg" class="blog-author-image">
      <p class="blog-author-name">Pera Peric</p>
    </div>
    <div class="rating-buttons" *ngIf="blog">
      <button 
          class="rating-button"  
          (click)="upvote(blog)" 
          [ngClass]="{'highlighted': blog.userVote === 'Upvote'}">
          <img src="../../../../assets/heart.png"  width="30px" alt="Like" class="rating-icon"> 
      </button>
      <button 
          class="rating-button" 
          (click)="downvote(blog)" 
          [ngClass]="{'highlighted': blog.userVote === 'Downvote'}">
          <img src="../../../../assets/dislike (1).png" width="30px" alt="Dislike" class="rating-icon"> 
      </button>
  </div>
  </div>
</div>
<div class="component">
  <h1>Comments</h1>

  <div class="two-column-layout">
    <div class="column form-column">
      <div class="form-card">
        <form [formGroup]="commentForm" (ngSubmit)="addComment()">
          <div class="form-content">
            <div class="form-field">
              <label for="text">Text</label>
              <textarea id="text" formControlName="text" placeholder="Enter Comment Text" class="form-input" rows="3"></textarea>
              <div class="error-message" *ngIf="commentForm.get('text')?.invalid && commentForm.get('text')?.touched">
                Comment text is required
              </div>
            </div>
        
            <div class="form-actions">
              <button *ngIf="!shouldEdit" type="button" class="btn btn-primary" (click)="addComment()">
                Add Comment
              </button>
        
              <button *ngIf="shouldEdit" type="button" class="btn btn-primary" [disabled]="commentForm.invalid" (click)="updateComment()">
                Update Comment
              </button>
        
              <button *ngIf="shouldEdit" type="button" class="btn btn-error" (click)="cancelEdit()">
                Cancel
              </button>
            </div>
          </div>
        </form>        
      </div>
    </div>

    <div class="column table-column">
      <div class="table-container">
        <table *ngIf="comments.length > 0">
          <thead>
            <tr>
              <th>Blog ID</th>
              <th>Text</th>
              <th>User ID</th>
              <th>Created At</th>
              <th>Last Modified At</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let comment of comments" class="clickable-row">
              <td>{{ comment.blogId }}</td>
              <td>{{ comment.text }}</td>
              <td>{{ comment.userId }}</td>
              <td>{{ comment.createdAt | date: 'short' }}</td>
              <td>{{ comment.lastModifiedAt | date: 'short' }}</td>
              <td>
                <button class="icon-button edit-button" (click)="onEditClick(comment)">
                  <i class="icon">edit</i>
                </button>
              </td>
              <td>
                <button class="icon-button delete-button" (click)="onDeleteClick(comment)">
                  <i class="icon">delete</i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- No Comments Message -->
      <div class="message-card" *ngIf="comments.length === 0">
        <p>No comments available.</p>
      </div>
    </div>
  </div>
</div>