<form [formGroup]="reportForm">
    <div>
      <label>Category</label>
      <input type="text" formControlName="category" name="category" required />
    </div>
    <div>
      <label>Description</label>
      <textarea formControlName="description" name="description" required></textarea>
    </div>
    <div>
      <label>Priority</label>
      <input type="text" formControlName="priority" name="priority" required />
    </div>
    <button type="submit" (click)="addTourIssueReport()">Submit Report</button>
  </form>
  
