<div class="equipment-container">
    <h2 class="equipment-header">Equipment Management</h2>
    
    <div class="equipment-content">
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let eq of equipment">
              <td>{{eq.name}}</td>
              <td>{{eq.description}}</td>
              <td>
                <div class="action-buttons">
                  <button color="accent" (click)="deleteEquipment(eq.id || 0)" mat-icon-button>
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button color="primary" (click)="onEditClicked(eq)" mat-icon-button>
                    <mat-icon>edit</mat-icon>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="add-button">
          <button color="primary" (click)="onAddClicked()" mat-icon-button>
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
  
      <div class="equipment-form-container" *ngIf="shouldRenderEquipmentForm">
        <xp-equipment-form 
          [shouldEdit]="shouldEdit" 
          [equipment]="selectedEquipment" 
          (equimpentUpdated)="getEquipment()">
        </xp-equipment-form>
      </div>
    </div>
  </div>